tunnel: YOUR_TUNNEL_UUID
credentials-file: /root/.cloudflared/YOUR_TUNNEL_UUID.json

ingress:
  - hostname: awulak.com
    service: http://127.0.0.1:3000
  - hostname: www.awulak.com
    service: http://127.0.0.1:3000
  - hostname: app.awulak.com
    service: http://127.0.0.1:3000
  - service: http_status:404